<phpunit
	xmlns:xsi							="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation		="phpunit.xsd"
	bootstrap 							= "src/tests/Bootstrap.php"
    backupGlobals               		= "false"
    backupStaticAttributes      		= "false"
    colors                     			= "true"
	cacheTokens 						="true"
	convertDeprecationsToExceptions		="true"
	convertErrorsToExceptions			="true"
	convertNoticesToExceptions 			="true"
	convertWarningsToExceptions 		="true"
	beStrictAboutOutputDuringTests 		="true"
	beStrictAboutResourceUsageDuringSmallTests ="true"
	verbose								="true"
    processIsolation            		= "false"
    stopOnFailure               		= "false">

    <testsuites>
		<testsuite name="CodeIgniter Application Test Suite">
			<directory suffix="test.php">src/tests</directory>
			<exclude>_ci_phpunit_test/</exclude>
		</testsuite>
    </testsuites>

    <filter>
		<whitelist>
			<directory suffix=".php">src/controllers</directory>
			<directory suffix=".php">src/models</directory>
			<directory suffix=".php">src/views</directory>
			<directory suffix=".php">src/libraries</directory>
			<directory suffix=".php">src/helpers</directory>
			<directory suffix=".php">src/hooks</directory>
		</whitelist>
    </filter>
	<logging>
	
		<log type="testdox-html" target="bin/build/coverage/testdox.html"/>
		<log type="junit" target="bin/build/logs/junit.xml"/>
	</logging>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>
