*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
!*/cache/.webconfig

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
src/logs/*
!src/logs/index.html
!src/logs/.htaccess
!src/logs/.webconfig

src/data/*
!src/data/index.html

##Package libraries
/vendor/
/node_modules/
dist

## Phpunit test for CI3
bin/build/*
.phpunit.result.cache

##Configs
.env


